@import '~antd/dist/antd.css';

html {
    overflow: scroll;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 0px;

}

body {
    font-family: 'Comfortaa', cursive;
    color: rgb(63, 61, 86);
}
.header {
    height: 80px; 
    position: sticky;
    top: 0;
    z-index: 1020;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 0.1px solid rgba(8, 8, 8, 0.575);
}
.header__logo--container {
      margin-left: 60px;
}
.header__logo--icon {
      color: #31DE28;
      color: #2f679c;
}
.nav__container {
      margin-right: 60px;
}
.nav__container > ul > li {
      list-style: none;
      margin: 12px;
}

.nav__container > ul  {
      margin-bottom: 0px;
      display: flex; 
      justify-content: space-between;   
}


.button__green {           
      background-color: #31DE28;
      padding: 12px;
      color: #fff !important;
      border-radius: 2px;
} 
.first-button {
    color: #31DE28;
    background-color: #fff;
    padding: 10px;
    border-radius: 2px;
}
.second-button {
    color: orange;
    background-color: #fff;
    padding: 10px;
    border-radius: 2px;
}
.third-button {
    color: #2f679c;
    background-color: #fff;
    padding: 10px;
    border-radius: 2px;
}
.nav__container--link {
    color: #31DE28;     
}




    
/* //main content or call to action for home page */
.main__content--container {
      margin-right: 60px;
      margin-left: 60px;
      padding-top: 70px;
      display: flex;
      justify-content: space-between;
      
  }
  .main__content--left {
      width: 90%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      /* align-self: center; */
  }
  .main__content--right {
      width: 100%;
      background-image: url('https://res.cloudinary.com/dg7n6i9e1/image/upload/v1584478426/undraw_season_change_f99v_jpme6e.svg');
      background-repeat: no-repeat;
      background-size: contain;
      height: 80vh;
  }
  .main__content--large-text {
      font-size: 33px;
      /* color: #31DE28; */
      /* color: rgba(78, 78, 78, 0.658); */
      color: rgb(63, 61, 86);
        /* color: rgba(122, 120, 120, 0.062); */
      margin-top: 50px;
  }
  .main__content--small-text {
      color: gray;
      margin-bottom: 40px;
  }
  .white {
      color: #fff;
  }




  /* main content style */
.get__started {
    margin-top: 20px;
 }
.download__container {
    margin-top: 60px;
    display: flex;
    width: 300px;
    justify-content: space-between;
}




/* features container style */
.features__container {
    /* background-color: rgba(226, 219, 219, 0.062)  !important; */
    background-color: rgba(63, 61, 86, 0.055);
    padding-right: 120px;
    padding-left: 120px;
    padding-top: 80px;
    padding-bottom: 100px;
    position: relative;
}
.features__heading {
    font-size: 33px;
    display: flex;
    justify-content: center;
}
.features__card--container {
    display: flex;
    justify-content: space-between;
}




/* recent reminder  component styles */
.recent__reminder--container {
    padding-right: 120px;
    padding-left: 120px;
    padding-bottom: 200px;
    padding-top: 80px;
    padding-bottom: 100px;
    color: rgb(63, 61, 86);
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.recent__reminder--cards {
    display: flex;
    justify-content: space-between;
    margin-bottom: 70px;
    align-item: center;
}
.recent__reminder--heading {
    font-size: 33px;
    display: flex;
    justify-content: center;
    color: rgb(63, 61, 86);
    margin-bottom: 50px;
}
.recent__reminder--text {
    text-align: center;
    font-size: 17px;
    margin-bottom: 20px;
}
.recent__reminder--button {
    text-align: center;
    width: 200px;
    margin: auto;
    margin-top: 15px;

}





/* sign up section */
.signup__container {
    margin-right: 100px;
    margin-left: 100px;
    padding-top: 10px;
    height: 80vh;
    display: flex;
}
.signup__form-right {
    padding-top: 50px;
    padding-left: 100px;
}
.signup__form {
    display: flex;
    flex-direction: column;
}
.signup__form-heading {
    font-weight: bold;
    font-size: 36px;
    color: rgb(63, 61, 86);
    margin-bottom: 30px;
}
.signup__green-text {
    color: #31DE28;
    font-size: 40px;
}



/* already have an account section */
.already__container {
    display: flex;
    margin-top: 40px;
    color: rgb(63, 61, 86);
    justify-content: flex-start;
    align-items: center;
    
}
.already__text {
    margin-left: 0px;
    align-content: center;
    margin-bottom: 0px;
    padding-right: 10px;
}
.already__link {
    color: #31DE28;
    letter-spacing: 1px;
}

.firstname__lastname-input-container{
    display: flex;
    justify-content: space-between  ;
}
