@import '~antd/dist/antd.css';

html {
    overflow: scroll;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 0px;

}

body {
    font-family: 'Comfortaa', cursive;
    color: rgb(63, 61, 86);
}
h1, h2, h3, h4, h5, h6, p, div {
    color: rgb(63, 61, 86);
}
a {
    color: #31DE28;
}
a:hover {
    color: rgb(30, 173, 23) !important  ;
}
.header {
    height: 80px; 
    position: sticky;
    top: 0;
    z-index: 1020;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 0.1px solid rgba(8, 8, 8, 0.575);
}
.header__logo--container {
      margin-left: 60px;
}
.header__logo--icon {
      color: #31DE28;
      color: #2f679c;
}
.nav__container {
      margin-right: 60px;
}
.nav__container > ul > li {
      list-style: none;
      margin: 12px;
}
.nav__container > ul  {
      margin-bottom: 0px;
      display: flex; 
      justify-content: space-between;   
}


.button__green {           
      background-color: #31DE28;
      padding: 12px;
      color: #fff !important;
      border-radius: 2px;
      transition: ease-in-out .3s;
} 
.button__green:hover {           
    color: #fff !important;
    background-color: rgb(43, 204, 34);
    transition: ease-in-out .2s;
} 
.first-button {
    color: rgb(63, 61, 86);
    background-color: #fff;
    padding: 10px;
    border-radius: 2px;
    /* font-weight: bold; */
}
.second-button {
    color: rgb(63, 61, 86);
    background-color: #fff;
    padding: 10px;
    border-radius: 2px;
    /* font-weight: bold; */
}
.third-button {
    color: rgb(63, 61, 86);
    background-color: #fff;
    padding: 10px;
    border-radius: 2px;
    
}
.nav__container--link {
    color: #31DE28;     
    font-size: 14px;
}




    
/* //main content or call to action for home page */
.main__content--container {
      background: linear-gradient(to right, bottom, #fff rgba(63, 61, 86, 0.055));
      padding-right: 120px;
      padding-left: 120px;
      padding-top: 70px;
      margin-bottom: 100px;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 20px;
      
  }
  .main__content--left {
      width: 90%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      /* align-self: center; */
      /* margin-left: 60px; */
  }
  .main__content--image {
    width: 100%;
    margin-top: 15px;
  }
  .main__content--large-text {
      font-size: 33px;
      color: rgb(63, 61, 86);
      margin-top: 40px;
  }
  .main__content--small-text {
      color: gray;
      margin-bottom: 40px;
  }
  .white {
      color: #fff;
  }




  /* main content style */
.get__started {
    margin-top: 20px;
 }
.download__container {
    margin-top: 60px;
    display: flex;
    width: 300px;
    justify-content: space-between;
}




/* features container style */
.features__container {
    background: linear-gradient(to right bottom, #fff, rgba(63, 61, 86, 0.055));
    padding-top: 80px;
    padding-bottom: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 60px;
    padding-right: 60px;
}
.features__heading {
    font-size: 33px;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}
.features__card--container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 100px;
    margin: auto;
}




/* recent reminder  component styles */
.recent__reminder--container {
    background: linear-gradient(to right bottom,  rgba(63, 61, 86, 0.055), #fff);
    /* padding-right: 120px; */
    /* padding-left: 120px; */
    padding-bottom: 200px;
    padding-top: 80px;
    padding-bottom: 100px;
    color: rgb(63, 61, 86);
    display: flex;
    flex-direction: column;
}
.recent__reminder--cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 60px;
    margin: auto;
    margin-bottom: 70px;
}
.recent__reminder--heading {
    font-size: 33px;
    display: flex;
    justify-content: center;
    color: rgb(63, 61, 86);
    margin-bottom: 50px;
}
.recent__reminder--text {
    text-align: center;
    font-size: 17px;
    margin-bottom: 20px;
}
.recent__reminder--button {
    text-align: center;
    width: 200px;
    margin: auto;
    margin-top: 15px;

}






/* sign up section */
.signup__container {
    margin: auto;
    margin-right: 120px;
    margin-left: 120px;
    padding-top: 40px;
    padding-bottom: 40px;
    /* height: 80vh; */
    /* display: flex; */
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 50px;
    
}
.signup__form-right {
    padding-top: 50px;
    /* padding-left: 100px; */
    padding-right: 100px;
}
.signup__form {
    display: flex;
    flex-direction: column;
}
.sign__up--image {
    width: 99%;
}
.signup__form-heading {
    font-weight: bold;
    font-size: 36px;
    color: rgb(63, 61, 86);
    margin-bottom: 30px;
}
.signup__green-text {
    color: #31DE28;
    font-size: 40px;
}



/* already have an account section */
.already__container {
    display: flex;
    margin-top: 40px;
    color: rgb(63, 61, 86);
    justify-content: flex-start;
    align-items: center;
    
}
.already__text {
    margin-left: 0px;
    align-content: center;
    margin-bottom: 0px;
    padding-right: 10px;
}
.already__link {
    color: #31DE28;
    letter-spacing: 1px;
}

.firstname__lastname-input-container{
    display: flex;
    justify-content: space-between  ;
}
