@import '~antd/dist/antd.css';

body {
    font-family: 'Comfortaa', cursive;
    /* background-color: rgb(241, 212, 172) !important; */
    
}
.header {
    height: 80px; 
    position: sticky;
    top: 0;
    z-index: 1020;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 0.1px solid rgba(8, 8, 8, 0.575);
}
.header__logo--container {
      margin-left: 60px;
}
.header__logo--icon {
      color: #31DE28;
}
.nav__container {
      margin-right: 60px;
}
.nav__container > ul > li {
      list-style: none;
      margin: 12px;
}

.nav__container > ul  {
      margin-bottom: 0px;
      display: flex; 
      justify-content: space-between;   
}
.header__signup--button {           
      background-color: #31DE28;
      padding: 12px;
      color: #fff !important;
} 
.nav__container--link {
    color: #31DE28;     
}

/* //main content or call to action for home page */
.main__content--container {
      margin-right: 60px;
      margin-left: 60px;
      padding-top: 70px;
      display: flex;
      justify-content: space-between    ;
      
  }
  .main__content--left {
      width: 90%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      /* align-self: center; */
  }
  .main__content--right {
      width: 100%;
      background-image: url('https://res.cloudinary.com/dg7n6i9e1/image/upload/v1584478426/undraw_season_change_f99v_jpme6e.svg');
      background-repeat: no-repeat;
      background-size: contain;
      height: 80vh;
  }
  .main__content--large-text {
      font-size: 33px;
      color: #31DE28;
      color: rgba(78, 78, 78, 0.658);
        /* color: rgba(122, 120, 120, 0.062); */
      margin-top: 50px;
  }
  .main__content--small-text {
      color: gray;
      margin-bottom: 40px;
  }